#to-select-container {
  float: left;
}
#selected-container {
  float: right;
  position: relative;
  bottom: 62px;
}

#to-select {
  width: 200px;
}
#selected {
  width: 200px;
}

#container {
  width: 600px;
}

.buttons {
  border: 2px solid orange;
  width: 80px;
  display: inherit;
  border-radius: 5px;
  background: orange;
  position: relative;
  left: 50px;
  margin-top: 20px;
}